*, *::before, *::after { 
    box-sizing: border-box;
  }
  
  html, body { 
    height: 100%;
    margin: 0;
    font-family: sans-serif;
  }

  .root {
    height: 100%;
    margin: 0;
    padding: 0;
  }
  
  .home {
    display: grid;
    grid-template-areas: 
      ". greeting logout"
      "users messages messages"
      "users outgoing outgoing";
    grid-template-columns: 1fr 4fr 1fr;
    grid-template-rows: 1fr 4fr 1fr;
    height: 100%;
  }
  
  .user-greeting {
    grid-area: greeting;
    margin: 2rem 0 0;
    text-align: center;
  }
  
  .user-title {
    margin: 0;
    padding: 0 0.5rem;
    font-size: 2rem;
    font-weight: bold;
    text-align: center;
    color: #007acc;
  }
  
  .logout-form {
    grid-area: logout;
  }
  
  .logout-to-submit {
    margin-top: 2rem;
    border: 1px solid #007acc;
    padding: 0.5rem;
    border-radius: 1rem;
    color: #007acc;
    background-color: #ffffff;
    cursor: pointer;
  }
  
  .users { 
    grid-area: users;
    margin: 0;
    overflow-y: auto;
    padding: 2rem 1rem 2rem 2rem;
    border-right: 1px solid #cacdd1;
    border-top: 1px solid #cacdd1;
  }

  .users-list {
    margin: 0;
    padding: 0;
    list-style-type: none;
  }
  
  .user {
    display: flex;
    align-items: center;
    margin-bottom: 1rem;
  }

  .user-avatar {
    margin-right: 0.5rem;
    width: 1rem;
    height: 1rem;
    border-radius: 50%;
    border: 1px solid #cacdd1;
  }
  
  .user-username { 
    word-break: break-word;
  }

  
  .messages { 
    grid-area: messages;
    margin: 0;
    overflow-y: auto;
    padding: 2rem 2rem 1rem 1rem;
    border-top: 1px solid #cacdd1;
  }

  .messages-list {
    margin: 0;
    padding: 0;
    list-style-type: none;
  }
  
  .messages-avatar {
    margin-right: 0.5rem;
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    border: 1px solid #cacdd1;
  }
  
  .messages-username { 
    word-break: break-word;
  }
  
  .message { 
    display: flex;
    margin-bottom: 1rem;
  }
  
  .message-info { 
    display: flex;
    width: 10rem;
    align-items: center;
    flex-basis: 10rem;
    flex-grow: 0;
    flex-shrink: 0;
  }
  
  .message-text { 
    flex-shrink: 2;
    margin: 0;
    padding: 1rem;
    border-radius: 2rem;
    color: #333333;
    background-color: #e4e6eb;
    word-break: break-word;
  }
  
  .outgoing { 
    grid-area: outgoing;
    margin: 0;
    padding: 2rem 2rem 2rem 1rem;
    border-top: 1px solid #cacdd1;
  }

  .outgoing-form {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
  }
  
  .outgoing-to-send {
    flex-shrink: 2;
    flex-grow: 2;
    border: 1px solid #cacdd1;
    padding: 1rem;
    border-radius: 2rem;
  }
  
  .outgoing-to-submit {
    margin-left: 1rem;
    border: 1px solid #007acc;
    padding: 1rem;
    border-radius: 2rem;
    color: #ffffff;
    background-color: #007acc;
    cursor: pointer;
  }

  .outgoing-to-submit:disabled {
    border: 1px solid #d6dadd;
    color: #333;
    background-color: #d6dadd;
    cursor: not-allowed;
  }

  .login {
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-areas: 
        ". login-greeting ."
        ". login-main .";
    grid-template-columns: 1fr 4fr 1fr;
    grid-template-rows: auto 1fr;
  }
  
  .login-greeting {
    grid-area: login-greeting;
    color: #333333;
    font-size: 2rem;
    margin: 10rem 0 3rem;
    text-align: center;
  }
  
  .login-main {
    grid-area: login-main;
    display: flex;
    flex-direction: column;
  }
  
  .login-error {
    color: #e66119;
    text-align: center;
    margin: 1rem 0;
  }
  
  .login-form {
    display: flex;
    flex-direction: column;
    padding: 2rem 5rem;
    border: 1px solid #007acc;
    border-radius: 1rem;
    margin: 0 5rem;
  }
  
  .login-label {
    display: flex;
    align-items: center;
  }
  
  .login-to-send {
    flex-grow: 2;
    border: 1px solid #cacdd1;
    padding: 0.5rem;
    border-radius: 1rem;
    margin-left: 1rem;
  }
  
  .login-to-submit {
    margin-top: 2rem;
    border: 1px solid #007acc;
    padding: 0.5rem;
    border-radius: 1rem;
    color: #ffffff;
    background-color: #007acc;
    cursor: pointer;
  }

  .login-to-submit:disabled {
    border: 1px solid #d6dadd;
    color: #333;
    background-color: #d6dadd;
    cursor: not-allowed;
  }

  .spinner {
    display: flex;
    justify-content: center;
    margin-top: 2rem;
  }

  .spinner-img {
    width: 2rem;
    height: 2rem;
  }

  .no-data {
    color: #6c6c6c;
    text-align: center;
  }