*, *::before, *::after { 
  box-sizing: border-box;
}

html, body {
  height: 100%;
  margin: 0;
  font-family: sans-serif;
}

#root { 
  display: grid;
  grid-template-rows: auto 1fr;
  height: 100%;
}

.header { 
  color: #fb778a;
}

.header-title { 
  text-align: center;
}

.products { 
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  gap: 1rem;
  margin: 0;
  padding: 1rem;
  list-style: none;
}

.product { 
  grid-column: span 4;
  display: flex;
  flex-direction: column;
  padding: 1rem;
  border-radius: 1rem;
  background-color: #fef3f0;
  align-items: center;
}

.product-avatar { 
  height: 5rem;
  margin: 0 auto 1rem;
  border-radius: 50%;
  border: 1px solid #fff;
}

.product-name { 
  margin: 0;
  font-weight: bold;
  text-align: center;
}

.product-price {
  margin: 0.5rem auto;
}

.product-add {
  margin: 0 auto;
  border: 1px solid #fb778a;
  padding: 0.5rem 1rem;
  border-radius: 1rem;
  color: #ffffff;
  background-color: #fb778a;
  cursor: pointer;
}

.product-add:hover {
  border: 1px solid #f75878;
  background-color: #f75878;
}

.navigate-carts {
  padding: 1rem;
}

.navigate-button {
  margin: 0 auto 1rem;
  display: flex;
  border: 1px solid #fb778a;
  padding: 0.5rem 1rem;
  border-radius: 1rem;
  color: #fb778a;
  background-color: #fff;
  cursor: pointer;
  font-weight: bold;
}

.navigate-button:hover {
  border: 1px solid #f75878;
  color: #f75878;
}

.view-carts {
  border: 1px solid #fb778a;
  padding: 1rem;
  border-radius: 1rem;
  text-align: center;
}

.view-carts.hide {
  display: none;
}

.no-data {
  color: #8a95ab;
}

.carts {
  list-style: none;
  margin: 0;
  padding: 0;
}

.cart { 
  display: flex;
  align-items: center;
  padding: 1rem 1rem 0;
}

.cart-avatar { 
  height: 2rem;
  border-radius: 50%;
  border: 1px solid #cacdd1;
}

.cart-name { 
  margin-left: 0.5rem;
}

.cart-quantity {
  margin-left: 0.5rem;
}

.to-edit-quantity {
  margin-left: 0.5rem;
  border: 1px solid #fb778a;
  padding: 0.3rem;
  width: 5rem;
  border-radius: 0.5rem;
}

.cart-price {
  margin-left: 0.5rem;
}

.checkout {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem 0;
  border-top: 1px dashed #fb778a;
  margin-top: 2rem;
}

.checkout-price {
  font-weight: bold;
}

.to-checkout {
  margin-left:0.5rem;
  border: 1px solid #fb778a;
  padding: 0.5rem 1rem;
  border-radius: 1rem;
  color: #ffffff;
  background-color: #fb778a;
  cursor: pointer;
}

.to-checkout:hover {
  border: 1px solid #f75878;
  background-color: #f75878;
}