*, *::before, *::after { 
    box-sizing: border-box;
  }
  
  html, body { 
    height: 100%;
    margin: 0;
    font-family: sans-serif;
  }
  
  .login {
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-areas: 
      ". login-greeting ."
      ". login-main .";
    grid-template-columns: 1fr 4fr 1fr;
    grid-template-rows: auto 1fr;
  }
  
  .login-greeting {
    grid-area: login-greeting;
    color: #333333;
    font-size: 2rem;
    margin: 10rem 0 5rem;
    text-align: center;
  }

  .login-main {
    grid-area: login-main;
    display: flex;
    flex-direction: column;
  }

  .login-message {
    color: #e66119;
    margin: 0;
    text-align: center;
    margin: 1rem 0;
  }
  
  .login-form {
    display: flex;
    flex-direction: column;
    padding: 2rem 5rem;
    border: 1px solid #007acc;
    border-radius: 1rem;
    margin: 0 5rem;
  }
  
  .login-label {
    display: flex;
    align-items: center;
  }
  
  .login-to-send {
    flex-grow: 2;
    border: 1px solid #cacdd1;
    padding: 0.5rem;
    border-radius: 1rem;
    margin-left: 1rem;
  }
  
  .login-to-submit {
    margin-top: 2rem;
    border: 1px solid #007acc;
    padding: 0.5rem;
    border-radius: 1rem;
    color: #ffffff;
    background-color: #007acc;
    cursor: pointer;
  }