/* CSS files linked from https://css.gg/ for spinners */

/* Add */
.gg-add {
    box-sizing: border-box;
    position: relative;
    display: block;
    width: 22px;
    height: 22px;
    border: 2px solid;
    transform: scale(var(--ggs,1));
    border-radius: 22px;
}

.gg-add::after,
.gg-add::before {
    content: "";
    display: block;
    box-sizing: border-box;
    position: absolute;
    width: 10px;
    height: 2px;
    background: currentColor;
    border-radius: 5px;
    top: 8px;
    left: 4px;
}

.gg-add::after {
    width: 2px;
    height: 10px;
    top: 4px;
    left: 8px;
}
 
/* Trash */
.gg-trash {
    box-sizing: border-box;
    position: relative;
    display: block;
    transform: scale(var(--ggs,1));
    width: 10px;
    height: 12px;
    border: 2px solid transparent;
    box-shadow:
    0 0 0 2px,
    inset -2px 0 0,
    inset 2px 0 0;
    border-bottom-left-radius: 1px;
    border-bottom-right-radius: 1px;
    margin-top: 4px;
}
   
.gg-trash::after,
.gg-trash::before {
    content: "";
    display: block;
    box-sizing: border-box;
    position: absolute;
   }
   
.gg-trash::after {
    background: currentColor;
    border-radius: 3px;
    width: 16px;
    height: 2px;
    top: -4px;
    left: -5px;
}
   
.gg-trash::before {
    width: 10px;
    height: 4px;
    border: 2px solid;
    border-bottom: transparent;
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
    top: -7px;
    left: -2px;
}

/* Data */
.gg-data {
    transform: scale(var(--ggs,1))
}

.gg-data,
.gg-data::after,
.gg-data::before {
    box-sizing: border-box;
    position: relative;
    display: block;
    border: 2px solid;
    border-radius: 50%;
    width: 14px;
    height: 14px;
}

.gg-data::after,
.gg-data::before {
    content: "";
    position: absolute;
    width: 6px;
    height: 6px;
    top: 2px;
    left: 2px;
}

.gg-data::after {
background: linear-gradient( to left,
currentColor 8px,transparent 0)
no-repeat bottom center/2px 8px;
    width: 22px;
    height: 22px;
    top: -6px;
    left: -6px;
}

.gg-data,
.gg-data::after {
    border-top-color: transparent;
    border-bottom-color: transparent;
} 


/* Details */
.gg-details-more {
    box-sizing: border-box;
    position: relative;
    display: block;
    transform: scale(var(--ggs,1));
    width: 20px;
    height: 14px;
    border: 2px solid transparent;
}

.gg-details-more::after,
.gg-details-more::before {
    content: "";
    display: block;
    box-sizing: border-box;
    position: absolute;
    height: 2px;
    border-radius: 3px;
    background: currentColor;
}

.gg-details-more::before {
    box-shadow: 0 4px 0 0;
    top: 0;
    width: 16px;
}

.gg-details-more::after {
    width: 10px;
    bottom: 0;
}

   
/* Grid */
.gg-layout-grid-small {
    transform: scale(var(--ggs,1));
}

.gg-layout-grid-small,
.gg-layout-grid-small::after,
.gg-layout-grid-small::before {
    box-sizing: border-box;
    position: relative;
    display: block;
    width: 10px;
    height: 2px;
    border-left: 6px double;
    border-right: 2px solid;
}

.gg-layout-grid-small::after,
.gg-layout-grid-small::before {
    content: "";
    position: absolute;
    left: -6px;
}

.gg-layout-grid-small::after {
    bottom: 4px;
}

.gg-layout-grid-small::before {
    top: 4px;
}

/* Log Off */
.gg-log-off {
    box-sizing: border-box;
    position: relative;
    display: block;
    border-radius: 16px;
    border: 2px solid;
    transform: scale(var(--ggs,1));
    width: 16px;
    height: 16px;
    border-top: 2px solid transparent;
}

.gg-log-off::before {
    content: "";
    display: block;
    box-sizing: border-box;
    position: absolute;
    border-radius: 3px;
    height: 8px;
    width: 2px;
    background: currentColor;
    left: 5px;
    bottom: 6px;
} 