*, *::before, *::after { 
  box-sizing: border-box;
}

html, body { 
  height: 100%;
  margin: 0;
  font-family: sans-serif;
}

.dashboard {
  display: grid;
  grid-template-areas: 
    "dashboard-user navigation-controls"
    "side-menu panel-controls";
  grid-template-columns: 1fr 4fr;
  grid-template-rows: auto 1fr;
  height: 100%;
  color: #151515;
}

.dashboard-user{
  grid-area: dashboard-user;
  border-bottom: 1px solid #f0f0f0;
  height: 5rem;
}

.dashboard-user .avatar-info { 
  padding: 1rem 1rem 1rem 2rem;
}

.side-menu{
  grid-area: side-menu;
  border-right: 1px solid #f0f0f0;
  background-color: #f9f9f9;
}

.side-menu-contents {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
  flex-direction: column;
}

.side-menu-item {
  margin: 0;
  padding: 1rem 1rem 1rem 2rem;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.side-menu-item:hover,
.side-menu-item.focus {
  background-color: #c0dfcf;
  border-bottom: 1px solid #f9f9f9;
}

.side-menu-icon {
  min-width: 1.5rem;
  margin-right: 0.5rem;
}

.navigation-controls{
  grid-area: navigation-controls;
  border-bottom: 1px solid #f0f0f0;
  padding: 1rem 2rem 0;
  display: flex;
  height: 5rem;
}

.navigation-contents {
  display: flex;
  flex-grow: 2;
  margin: 0;
  padding: 0;
  list-style-type: none;
  align-items: center;
}

.navigation-item {
  margin: 0 1rem 0 0;
  padding: 1rem;
  height:100%;
  cursor: pointer;
}

.navigation-item:hover,
.navigation-item.focus {
  border-bottom: 2px solid #151515;
}

.navigation-select-label {
  flex-grow: 2;
}

.navigation-select {
  padding: 0.5rem 1rem;
  margin: 1rem 0;
  border: 1px solid #151515;
  border-radius: 1rem;
  color: #151515;
  cursor: pointer;
}

.add-diary {
  display: flex;
  align-items: center;
  border: 0;
  padding: 0.5rem;
  margin-right: 2rem;
  background-color: #ffffff;
  cursor: pointer;
}

.add-diary-title {
  margin-left:0.5rem;
}

.logout-form {
  padding: 1rem;
}

.logout-to-submit {
  border: 0;
  padding: 0.5rem;
  background-color: #ffffff;
  cursor: pointer;
}

.logout-to-submit:hover {
  font-weight: bold;
}

.panel-controls {
  grid-area: panel-controls;
  overflow-y: auto;
}

.login {
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-areas: 
      "login-logo login-greeting"
      "login-logo login-main";
  grid-template-columns: 3fr 4fr;
  grid-template-rows: auto 1fr;
  height: 100%;
}

.login-logo {
  grid-area: login-logo;
  background-color: #c0dfcf;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 10rem;
}

.login-logo-title {
  color: #151515;
  font-weight: bold;
  font-size: 2rem;
}

.login-logo-img {
  max-height: 5rem;
}

.login-greeting {
  grid-area: login-greeting;
  color: #151515;
  font-size: 2rem;
  margin: 0;
  padding: 10rem 0 3rem;
  text-align: center;
}

.login-main {
  grid-area: login-main;
  display: flex;
  flex-direction: column;
}

.login-form {
  display: flex;
  flex-direction: column;
  flex-grow: 2;
  padding: 2rem 5rem;
  margin: 0 5rem;
}

.login-label {
  display: flex;
  align-items: center;
}

.login-to-send {
  border: 1px solid #151515;
  padding: 0.5rem;
  border-radius: 1rem;
  color: #151515;
}

.login-to-submit {
  margin-top: 2rem;
  border: 1px solid #151515;
  padding: 0.5rem;
  border-radius: 1rem;
  color: #fff;
  background-color: #151515;
  cursor: pointer;
}

.login-to-submit:disabled {
  border: 1px solid #d6dadd;
  color: #151515;
  background-color: #d6dadd;
  cursor: not-allowed;
}

.status {
  display: flex;
  margin: 1rem;
  padding: 1rem 0;
  color: #f00300;
  background-color: #fefbfb;
  border: 1px solid #f00300;
  text-align: center;
  justify-content: center;
}

.status-message {
  flex-grow: 2;
}

.status-delete {
  font-weight: bold;
  margin: 0 1rem 0 0;
  border: 1px solid #fefbfb;
  padding: 0 0.5rem;
  color: #f00300;
  background-color: #fefbfb;
  cursor: pointer;
}

.loading {
  flex-direction: column;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 5rem 0;
  color: #007acc;
}

.loading-message {
  margin: 2rem;
}

.avatar-info { 
  display: flex;
  align-items: center;
  height: 100%;
}

.avatar-img { 
  height: 2rem;
  border-radius: 50%;
  border: 1px solid #c0dfcf;
}

.avatar-username { 
  max-width: 10rem;
  margin-left: 1rem;
  word-break: break-word;
}

.passerby-panel {
  padding: 2rem;
}

.passerby-item {
  background-color: #f9f9f9;
  margin:0 0 0.5rem;
  padding: 1rem;
  border-radius: 0.5rem;
}

.passerby-item:hover {
  background-color: #c0dfcf;
  cursor: pointer;
}

.passerby-item-intro {
  margin: 1rem 0 0;
  word-break: break-word;
}

.passerby-item-date {
  margin: 1rem 0 0;
  color:#5a5a5a;
  font-size: smaller;
}

.mydiary-panel {
  padding: 2rem;
}
.diary-item {
  background-color: #f9f9f9;
  margin:0 0 0.5rem;
  padding: 1rem;
  border-radius: 0.5rem;
}

.diary-item:hover {
  background-color: #c0dfcf;
  cursor: pointer;
}

.diary-item-label {
  color: #c0dfcf;
  border: 1px solid #c0dfcf;
  border-radius: 0.3rem;
  padding: 0.1rem 0.5rem;
}

.diary-item-date {
  color:#5a5a5a;
  font-size: smaller;
  margin: 0 0 1rem ;
}

.diary-item-intro {
  margin: 0 0 1rem ;
  word-break: break-word;
}

.go-back{
  display: flex;
  align-items: center;
  border: 0;
  padding: 0.5rem;
  background-color: #f9f9f9;
  cursor: pointer;
}

.to-edit, .to-delete, .to-submit, .to-cancel {
  display: flex;
  align-items: center;
  border: 0;
  padding: 0.5rem;
  margin-right:1rem;
  background-color: #f9f9f9;
  cursor: pointer;
}

.to-delete, .to-cancel {
  margin-left:auto;
}

.to-edit-title, .to-delete-title, .to-submit-title, .to-cancel-title {
  margin-left: 0.3rem;
}

.passerby-details {
  background-color: #f9f9f9;
  margin:0;
  padding: 2rem;
  border-radius: 0.5rem;
}

.passerby-details-tools {
  display: flex;
  justify-content: flex-start;
  margin: 0 0 2rem;
}

.passerby-details-date {
  color:#5a5a5a;
  font-size: smaller;
  margin: 1rem 0 0 0;
}

.passerby-details-content{
  margin: 1rem 0 0;
  word-break: break-word;
}

.mydiaries-details {
  background-color: #f9f9f9;
  margin:0;
  padding: 2rem;
  border-radius: 0.5rem;
}

.mydiaries-details-tools {
  display: flex;
  justify-content: flex-end;
  margin: 0 0 2rem;
}

.mydiaries-details-info{
  display: flex;
  align-items: center;
}

.mydiaries-details-label {
  margin: 0 1rem 0 0;
  color: #c0dfcf;
  border: 1px solid #c0dfcf;
  border-radius: 0.3rem;
  padding: 0.1rem 0.5rem;
}

.mydiaries-details-date {
  color:#5a5a5a;
  font-size: smaller;
}

.mydiaries-details-content{
  margin: 1rem 0 0;
  word-break: break-word;
}

.mydiaries-form {
  display: flex;
  flex-direction: column;
  background-color: #f9f9f9;
  margin:0;
  padding: 2rem;
  border-radius: 0.5rem;
}

.mydiaries-form-tools {
  display: flex;
  justify-content: flex-end;
  margin: 0 0 2rem;
}

.mydiaries-form-row{
  display: flex;
  align-items: center;
  margin: 0 0 2rem;
}

.mydiaries-form-row.form-textarea {
  flex-direction: column;
  align-items: initial;
}

.mydiaries-form-title {
  min-width: 8rem;
  margin: 0 1rem 0 0;
}

.mydiaries-form-select {
  padding: 0.5rem 1rem;
  margin: 0;
  border: 1px solid #151515;
  border-radius: 1rem;
  color: #151515;
  cursor: pointer;
}

.mydiaries-form-checkbox{
  margin: 0;
  border: 1px solid #151515;
  border-radius: 1rem;
}

.mydiaries-form-input {
  margin: 1rem 0 0;
  padding: 0.5rem;
  border: 1px solid #151515;
  border-radius: 1rem;
  word-break: break-word;
  resize: none;
}

.setting-panel {
  padding: 2rem;
}

.profile {
  display: flex;
  flex-direction: column;
  margin:0 0 0.5rem;
  padding: 2rem;
}

.profile-title {
  margin: 0 1rem 0 0;
}

.profile-username {
  display: flex;
  margin: 0 0 1rem;
  align-items: center;
}

.profile-avatar {
  display: flex;
  align-items: center;
}

.profile-avatar-to-edit {
  margin: 0 0 0 2rem;
  border: 1px solid #151515;
  padding: 0.2rem 0.5rem;
  border-radius: 1rem;
  color: #151515;
  background-color: #fff;
  cursor: pointer;
}

.profile-avatars-title {
  margin: 0 0 1rem;
}

.profile-avatars {
  display: flex;
  flex-direction: column;
}

.profile-avatars-tools {
  display: flex;
  margin: 1rem 0;
}

.profile-avatars-to-cancel {
  border: 1px solid #151515;
  padding: 0.2rem 0.5rem;
  border-radius: 1rem;
  color: #151515;
  background-color: #fff;
  margin-right:1rem;
  cursor: pointer;
}

.profile-avatars-to-submit {
  border: 1px solid #151515;
  padding: 0.2rem 0.5rem;
  border-radius: 1rem;
  color: #151515;
  background-color: #fff;
  cursor: pointer;
}

.avatar-list {
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.avatar-item {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 1rem;
  min-height: 6rem;
  background-color: #f9f9f9;
  border-radius: 0.3rem;
  cursor: pointer;
  align-items: center;
  justify-content: center;
}

.avatar-item:hover {
  box-shadow: 2px 2px 5px #999999;
}

.no-data {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 2rem 0 0;
  color: #999;
}

.label-item-color.rose {
  color: #e2262b;
  border: 1px solid #e2262b;
}
.label-item-color.orange {
  color: #ec7013;
  border: 1px solid #ec7013;
}
.label-item-color.yellow {
  color: #fde64b;
  border: 1px solid #fde64b;
}
.label-item-color.medallion {
  color: #e3b106;
  border: 1px solid #e3b106;
}
.label-item-color.tan {
  color: #e6dbad;
  border: 1px solid #e6dbad;
}
.label-item-color.salt {
  color: #f7efec;
  border: 1px solid #f7efec;
}
.label-item-color.frost {
  color: #ecfcfc;
  border: 1px solid #ecfcfc;
}
.label-item-color.watermelon {
  color: #fe7f9c;
  border: 1px solid #fe7f9c;
}
.label-item-color.purple {
  color: #a32cc4;
  border: 1px solid #a32cc4;
}
.label-item-color.blue {
  color: #3942ba;
  border: 1px solid #3942ba;
}
.label-item-color.ocean {
  color: #006063;
  border: 1px solid #006063;
}
.label-item-color.green {
  color: #3ab143;
  border: 1px solid #3ab143;
}
.label-item-color.coffee {
  color: #4b371d;
  border: 1px solid #4b371d;
}
.label-item-color.grey {
  color: #6c626d;
  border: 1px solid #6c626d;
}
.label-item-color.iris {
  color: #9767c5;
  border: 1px solid #9767c5;
}
.label-item-color.sky {
  color: #63c5d9;
  border: 1px solid #63c5d9;
}