/* CSS files linked from https://css.gg/ for spinners */

@keyframes spinner-two {
    0% {transform: rotate(0deg)}
    to {transform: rotate(359deg)}
  }
  .gg-spinner-two {
    transform: scale(var(--ggs,1));
    box-sizing: border-box;
    position: relative;
    display: block;
    width: 3rem;
    height: 3rem;
  }
 
  .gg-spinner-two::after,
  .gg-spinner-two::before {
    box-sizing: border-box;
    display: block;
    width: 3rem;
    height: 3rem;
    content: "";
    position: absolute;
    border-radius: 10rem;
  }
  .gg-spinner-two::before {
    animation: spinner-two 1s cubic-bezier(.6,0,.4,1) infinite;
    border: 0.4rem solid transparent;
    border-bottom-color: currentColor;
    border-top-color: currentColor;
  }
  .gg-spinner-two::after {
    border: 0.4rem solid;
    opacity: .2;
  }

  /* Small size */
  .gg-spinner-two.small {
    width: 1rem;
    height: 1rem;
  }
  .gg-spinner-two.small::after,
  .gg-spinner-two.small::before {
    width: 1rem;
    height: 1rem;  
  }
  .gg-spinner-two.small::before {
    animation: spinner-two 1s cubic-bezier(.6,0,.4,1) infinite;
    border: 0.2rem solid transparent;
    border-bottom-color: currentColor;
    border-top-color: currentColor;
  }
  .gg-spinner-two.small::after {
    border: 0.2rem solid;
    opacity: .2;
  }