*, *::before, *::after { 
  box-sizing: border-box;
}

html, body { 
  height: 100%;
  margin: 0;
  font-family: sans-serif;
}

.user {
  display: grid;
  grid-template-areas: 
    ". greeting logout"
    ". word .";
  grid-template-columns: 1fr 4fr 1fr;
  grid-template-rows: auto 1fr;
  height: 100%;
}

.user-greeting {
  grid-area: greeting;
  margin: 5rem 0 0;
  text-align: center;
}

.user-title {
  margin: 0;
  padding: 0 0.5rem;
  font-size: 2rem;
  font-weight: bold;
  text-align: center;
  color: #007acc;
}

.logout-form {
  grid-area: logout;
}

.logout-to-submit {
  margin-top: 5rem;
  border: 1px solid #007acc;
  padding: 0.5rem;
  border-radius: 1rem;
  color: #007acc;
  background-color: #ffffff;
  cursor: pointer;
}

.word {
  grid-area: word;
  display: flex;
  flex-direction: column;
  padding: 0;
}

.current-word {
  display: flex;
  margin: 3rem 0 2rem;
  text-align: center;
}

.current-word-content {
  margin-left: 1rem;
  word-break: break-word;
}

.word-form {
  display: flex;
  flex-direction: column;
  padding: 2rem 5rem;
  border: 1px solid #007acc;
  border-radius: 1rem;
}

.word-label {
  display: flex;
  align-items: center;
}

.word-to-send {
  flex-grow: 2;
  border: 1px solid #cacdd1;
  padding: 0.5rem;
  border-radius: 1rem;
  margin-left: 1rem;
}

.word-to-submit {
  margin-top: 2rem;
  border: 1px solid #007acc;
  padding: 0.5rem;
  border-radius: 1rem;
  color: #ffffff;
  background-color: #007acc;
  cursor: pointer;
}

.login {
  display: flex;
  margin: 0;
  padding: 0;
  height: 100%;
  flex-direction: column;
}

.login-greeting {
  color: #333333;
  font-size: 2rem;
  margin: 10rem 0 5rem;
  text-align: center;
}

.login-form {
  display: flex;
  flex-direction: column;
  padding: 2rem 5rem;
  border: 1px solid #007acc;
  border-radius: 1rem;
  margin: 0 5rem;
}

.login-label {
  display: flex;
  align-items: center;
}

.login-to-send {
  flex-grow: 2;
  border: 1px solid #cacdd1;
  padding: 0.5rem;
  border-radius: 1rem;
  margin-left: 1rem;
}

.login-to-submit {
  margin-top: 2rem;
  border: 1px solid #007acc;
  padding: 0.5rem;
  border-radius: 1rem;
  color: #ffffff;
  background-color: #007acc;
  cursor: pointer;
}

.error {
  display: flex;
  margin: 0;
  padding: 0;
  align-items: center;
  flex-direction: column;
  height: 100%;
}

.error-code {
  margin: 10rem 0 1rem;
  font-size: 3rem;
  font-weight: bold;
  color: #007acc;
}

.error-message {
  margin: 0 0 5rem;
  color: #007acc;
  text-align: center;
}

.error-link {
  margin: 0;
  text-align: center;
}