*, *::before, *::after { 
  box-sizing: border-box;
}

html, body { 
  height: 100%;
  margin: 0;
  font-family: sans-serif;
}

#chat-app { 
  display: grid;
  grid-template-areas: 
    "users messages"
    "users outgoing";
  grid-template-columns: auto 1fr;
  grid-template-rows: 1fr auto;
  height: 100%;
}

.users { 
  grid-area: users;
  margin: 0;
  padding: 2rem 1rem 2rem 2rem;
  overflow-y: auto;
  list-style-type: none;
  border-right: 1px solid #cacdd1;
}

.user {
  margin-bottom: 1rem;
}

.messages { 
  grid-area: messages;
  margin: 0;
  padding: 2rem 2rem 1rem 1rem;
  overflow-y: auto;
  list-style-type: none;
}

.avatar { 
  height: 2rem;
  border-radius: 50%;
}

.username { 
  margin-left: 1rem;
}

.message { 
  display: flex;
  margin-bottom: 1rem;
}

.sender-info { 
  display: flex;
  width: 10rem;
  align-items: center;
}

.message-text { 
  margin: 0;
  padding: 1rem;
  border-radius: 2rem;
  background-color: #e4e6eb; 
  flex-shrink: 2;
}

.outgoing { 
  grid-area: outgoing;
  margin: 0;
  padding: 2rem 2rem 2rem 1rem;
  border-top: 1px solid #cacdd1;
}

.form {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
}

.to-send {
  flex-shrink: 2;
  flex-grow: 2;
  border: 1px solid #cacdd1;
  padding: 1rem;
  border-radius: 2rem;
}

.button {
  margin-left: 1rem;
  border: 1px solid #cacdd1;
  padding: 1rem;
  border-radius: 2rem;
  cursor: pointer;
}